body {
    background-color: rgb(50, 50, 50);
	color: white;	
}

table {
table-layout: auto;
width: 100%;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 16px;
border-collapse: collapse;
text-align: center;
}

th, td:first-child {
background: rgb(60, 60, 60);
color: white;
padding: 10px 20px;
}

th, td {
border-style: solid;
border-width: 1px;
border-color: rgb(100, 100, 100);
}

td {
background: rgb(80, 80, 80);
color: white;
}

th:first-child, td:first-child {
text-align: left;
}

img {
    display:block; 
	width:100%;  
	height:auto;
}

.vertical-menu {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 24px;
    width: 200px;
	height: 100%;
}

.vertical-menu a {
    background-color: rgb(80, 80, 80);
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: rgb(100, 100, 100);
}

.vertical-menu a.active {
    background-color: rgb(100, 100, 100);
    color: white;
	text-align: center;
}


ul {    
    list-style: none; /* Убираю маркеры у списка*/    
    display: block; /* Делаю элементы блочными. */    
    margin:0px; /* Убираю отступы. */    
    padding:0px;
}

ul.dropdown > li {    
    float: left;    
    position: relative; /* Считаем координаты относительно исходного места*/
}

ul.dropdown > li > a {    
    display: block; /* Делаю элементы блочными: */    
    color: white;    
    padding: 10px; /* Задаю отступ 10px. */    
    text-decoration: none;    /* Убираю форматирование*/
    background-color: rgb(50, 100, 100);
}

ul.dropdown > li > a:hover {    
    background-color: rgb(70, 120, 120); /* Задаю цвет при наведении. */
}

ul.dropdown-item {
    position: absolute;
    width: 240px;
    top: 37px;
    left:0px;    
    display: none; /* Делаю субменю скрытыми. */    
    background-color: white;
}

ul.dropdown-item > li {  
  display: block; /* Блочное расположение элементов*/
}

ul.dropdown-item > li > a {    
  display: block; /* Делаю элементы блочными. */    
  text-decoration: none; /* Убираю форматирование*/    
  padding: 10px; /* Задаю отступ. */    
  color: white;    
  background-color: rgb(50, 100, 100);
}

ul.dropdown-item > li > a:hover {    
  background-color: rgb(70, 120, 120); /* Цвет бэкграунда при наведении. */    
  text-decoration: underline; /* Задаю подчеркивание*/
}

ul.dropdown > li:hover > ul.dropdown-item {
  display: block; /* Делаю элементы блочными. */
}
