# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
.vs/
x64/
.vscode/
cmake-build-*/
build_generated/
data/textures_gen/
3dsMaxTests/rendered/
tests/
tests_a/
tests_ext/
tests_f/

#Files
z_microfacet.txt
z_3dsmax_tests.txt
z_test_*.txt
z_out*.*


