tests.VC.db
tests.VC.VC.opendb
tests.vcxproj.user

z_microfacet.txt
z_3dsmax_tests.txt
z_test_*.txt

z_out*.png

.vs/
x64/
cmake-build-release/
cmake-build-debug/
build_generated/
data/textures_gen/

3dsMaxTests/rendered/
tests/
tests_a/
tests_ext/
tests_f/

tests_images/test_111/w_ref_old.png
tests_images/test_109/w_ref_old.png




